@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        <form method="post" action="~/Admin/AddToy">
            <label>Имя игрушки:</label><br />
            <input type="text" name="name" /><br />
            <label>Информация:</label><br />
            <input type="text" name="info" /><br />
            <label>Информация:</label><br />
            <input type="number" name="price" /><br />
            <input type="submit" value="Отправить" />
        </form>
    </div>
</div>