@using MVCShop.Services
@model int
<nav aria-label="...">
    <ul class="pagination justify-content-center pagination-sm">
        @{
            //int currrentPage = CatalogeService.CurrentPage;

            if (CatalogeService.CurrentPage != 0)
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-controller="Catalog" asp-route-id="@(CatalogeService.CurrentPage - 1)" aria-disabled="true">&laquo;</a></li>
            }
            else
            {
                <li class="page-item disabled"><a class="page-link" aria-disabled="true">&laquo;</a></li>
            }

            for (int i = 1; i <= Model; i++)
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-controller="Catalog" asp-route-id="@(i - 1)">@i</a></li>
            }

            if (CatalogeService.CurrentPage != Model-1)
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-controller="Catalog" asp-route-id="@(CatalogeService.CurrentPage + 1)" aria-disabled="true">&raquo;</a></li>
            }
            else
            {
                <li class="page-item disabled"><a class="page-link" aria-disabled="true">&raquo;</a></li>
            }
        }
    </ul>
</nav>