@model int
<nav aria-label="...">
    <ul class="pagination justify-content-center pagination-sm">

        @for (int i = 1; i <= Model; i++)
        {
            if (i != 1)
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-controller="Catalog" asp-route-id="@(i-2)" aria-disabled="true">&laquo;</a></li>
            }
            else
            {
                <li class="page-item disabled"><a class="page-link" aria-disabled="true">&laquo;</a></li>
            }

            <li class="page-item"><a class="page-link" asp-action="Index" asp-controller="Catalog" asp-route-id="@(i-1)">@i</a></li>
            
            if (i != Model)
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-controller="Catalog" asp-route-id="@(i)" aria-disabled="true">&raquo;</a></li>
            }
            else
            {
                <li class="page-item disabled"><a class="page-link" aria-disabled="true">&raquo;</a></li>
            }
        }

    </ul>
</nav>