body {
    min-width: 320px;
    background-color: #973010;
}

.main-list {
    padding-top: 25px;
    padding-bottom: 10px;
    position: static;
}

.menu_items {
    background-color: brown;
    height: auto;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 35px;
    padding-top: 30px;
    border: 40px ridge #611;
}

.card {
    margin-bottom: 30px;
}

.card img {
    width: auto;
    height: auto;
}

.nav-li {
    text-align: center;
    margin: 20px 0.5% 20px 0.5%;
    font-size: 26px;
}

.category-menu {
    top: 67px;
    position: sticky;
    border-radius: 0px 0px 10px 0px;
}

.slider-img {
    max-height: 600px !important;
    height: 600px;
}

.slider-box {
    max-width: 1200px !important;
    border: 50px ridge #611;
    width: 100%;
}

.social-nets {
    border: 100px groove #611;
    border-radius: 20%;
    margin-top: 50px;
}

.prew-images {
    width: 200px;
}

.basket-tab {
    width: 100%;
    background-color: white;
    margin-top: 50px;
    border: 10px groove grey;
    text-align: center;
}

.basket-tab tr {
    border: 1px solid black;
}

.stiky-bottom {
    position: sticky;
    bottom: 0px;
    z-index: 1020;
}

.toy-page {
    text-align: center;
    border-radius: 50px;
    background-color: azure;
    max-width: 100%;
    margin-top: 25px;
}

.toy-page-right {
    background-color: darkgrey;
    border-left: medium solid black;
}

.toy-page-left {
    background-color: #cfe7ff;
}
.social-frag {
    font-size: 30px;
}
.social-icon{
    font-size: 35px;
}
.home-post {
    border: 20px inset #611;
    width: 100%;
}
.back-img{
    background-size: 100% 100%;
    background-image: url(../Images/Slide2.jpg);
}